body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Styling for SignIn Component */
#signIn-grid-container {
  height: 100%;
}
.signIn-grid-item {
  height: 60vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .signIn-grid-item {
    height: 30vh;
  }
  .signIn-grid-item h2 {
    font-size: 2rem;
    text-align: "center";
  }
}
